.content-area {
	float: left;
	margin: 0 (-$size_mbd_2017ite-sidebar) 0 0;
	width: $size_mbd_2017ite-main;
}

.site-main {
	margin: 0 $size_mbd_2017ite-sidebar 0 0;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size_mbd_2017ite-sidebar;
}

.site-footer {
	clear: both;
	width: $size_mbd_2017ite-main;
}